{% load static %}
<html lang="en">
    {% block content %}

        <h1>Help Guide For Admin</h1>
        <p>Welcome to the SMSE Admin Help Guide! This guide will help you navigate the onboarding app.</p>

        <h2>Logging In</h2>
        <p>Go to <strong>/faculty-admin</strong> and enter your credentials.</p>

        <h2>Managing Faculty</h2>
        <p>Click on "Faculty Directory" in the Admin Dashboard to view and edit faculty members.</p>

        <h2>Sending Email Reminders</h2>
        <p>Click on a new hire's deadline card, then select "Send Reminder."</p>

        <h2>Managing Special Permissions</h2>
        <p><strong>Something</strong><br>More stuff</p>

    {% endblock %}

</html>
