<div class="modal fade" id="taskModal{{ task.id }}" aria-labelledby="taskModalLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="opacity: 1 !important; pointer-events: auto !important;">
            <div class="modal-header">
                <h5 class="modal-title">Send Reminder</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you want to send a push notification to this user about the task: {{ task.title }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
