<div class="row">
    <div class="col">
        <h3 class="text-primary">
            <span>{{ completed_tasks_count }}</span> of 
            <span>{{ total_assigned_tasks }}</span>
            tasks complete
        </h3>
        
        <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" 
                 style="width: {{ completion_percentage }}%;" 
                 aria-valuenow="{{ completion_percentage }}" 
                 aria-valuemin="0" 
                 aria-valuemax="100">
                {{ completion_percentage }}%
            </div>
        </div>
    </div>
</div> 