<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onboarding Portal | Home</title>
    <link rel="icon" type="image/x-icon" href="{% static 'smse_logo.jpg' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <a href="{% url 'tasks:admin_help' %}">Help & Guide</a>
        <div class="container-fluid">
            <!-- Left side icon and title -->
            <div class="d-flex align-items-center">
                <div class="dropdown">
                    <i class="text-white me-3 bi bi-list navbar-brand" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu dropdown-menu-start">
                        <li><a class="dropdown-item" href="#">All Tasks (Coming Soon)</a></li>
                        <li><a class="dropdown-item" href="#">Notifications</a></li>
                    </ul>
                </div>
                <span class="navbar-brand">Onboarding Portal</span>
            </div>

            <!-- Right side icon and logo -->
            <div class="d-flex align-items-center">
                <div class="dropdown">
                    <i class="text-white me-3 bi bi-person-circle navbar-brand" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Edit Profile (Coming Soon)</a></li>
                        <li><a class="dropdown-item" href="{% url 'login' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a></li>
                        <form id="logout-form" method="post" action="{% url 'login' %}" style="display: none;">
                            {% csrf_token %}
                        </form>
                    </ul>
                </div>
                <img class="justify-items-end" src="{% static 'smse_logo_transparent.png' %}" alt="SMSE logo" width="40px" height="40px">
            </div>
        </div>
    </nav>

    <!-- Main Container-->
    <div class="container-fluid main-container">
        <div class="row h-100">
            <!-- left side (40%) -->
            <div class="col-5">
                <!-- Status Card (Top 50%) -->
                <div class="row h-50">
                    <div class="col-12">
                        {% include 'new_hire_dashboard/status_card.html' %}
                    </div>
                </div>
                <!-- Quick Links Card (Bottom 50%) -->
                <div class="row h-50">
                    <div class="col-12">
                        {% include 'new_hire_dashboard/quick_links.html' %}
                    </div>
                </div>
            </div>
            <!-- Right Side (60%) -->
            <div class="col-7">
                {% include 'new_hire_dashboard/tasks.html' %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
