<div class="card">
    <div class="card-body">
        <h5 class="card-title mb-4">Quick Links</h5>
        <div class="row g-2">
            <div class="col-4">
                <a class="btn quick-link-btn admin-btn text-white w-100" href="https://eager-dancer-7dc.notion.site/SMSE-Admin-Portal-13f4fe003c6f4e7db7ee77eb983a3df6" target="_blank">
                    <i class="bi bi-shield-lock"></i>
                    Admin
                </a>
            </div>
            <div class="col-4">
                <a class="btn quick-link-btn it-btn text-white w-100" href="https://www.sandiego.edu/its/" target="_blank">
                    <i class="bi bi-pc-display"></i>
                    IT Dept
                </a>
            </div>
            <div class="col-4">
                <a class="btn quick-link-btn parking-btn text-white w-100" href="https://www.sandiego.edu/parking/" target="_blank">
                    <i class="bi bi-p-circle"></i>
                    Parking
                </a>
            </div>
            <div class="col-4">
                <a class="btn quick-link-btn map-btn text-white w-100" href="https://www.sandiego.edu/maps/" target="_blank">
                    <i class="bi bi-map"></i>
                    Campus Map
                </a>
            </div>
            <div class="col-4">
                <a class="btn quick-link-btn phone-btn text-white w-100" href="https://docs.google.com/spreadsheets/d/1tnHnEoI_FmN6qZ5CL7ECX4CdEImqvpe02mTrDKnhWG0/edit?pli=1&gid=1355036769#gid=1355036769" target="_blank">
                    <i class="bi bi-telephone"></i>
                    Directory
                </a>
            </div>
            <div class="col-4">
                <a class="btn quick-link-btn notif-btn text-white w-100" href="{% url 'tasks:notifications' %}">
                    <i class="bi bi-bell"></i>
                    Notifications
                </a>
            </div>
        </div>
    </div>
</div>
