<div class="card">
    <div class="card-body">
        <div class="row h-100">
            <!-- left Side -->
            <div class="col-6 d-flex flex-column align-items-center justify-content-center">
                <h4 class="mb-3">Welcome, User!</h4>
                <div class="position-relative">
                    <i class="bi bi-person-circle avatar-large mb-2"></i>
                </div>
                <h5 class="mb-1">FirstName LastName</h5>
                <p class="text-muted mb-0"> Software Engineer</p>
            </div>
            <!-- Right Side -->
            <div class="col-6 d-flex flex-column align-items-center justify-content-center">
                {% if tasks %}
                <h2 class="text-info mb-1"> {{ num_completed }} of {{ num_tasks }} </h2>
                <h4 class="text-info mb-2"> tasks complete </h4>
                <div class="w-100">
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" {% spaceless %}style="width: {{ percentage }}%"{% endspaceless %} aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
