{% load static %}
<script src="{% static 'js/mark_task_complete.js' %}"></script>

<div class="card">
    <label class="card-header">Tasks</label>
    <ul class="list-group">
        <li class="list-group-item">
            <input class="form-check-input me-3" type="checkbox" value="">
            <label class="form-check-label" style="width: 40%">Task</label>
            <label class="form-check-label">Due Date</label>
        </li>

        {% if tasks %}
        <div class="tasks-list">
            {% for task in tasks %}
                {% if not task.completed %}
                <li class="list-group-item d-flex align-items-center" style="height: 65px;">
                    <form action="{% url 'tasks:complete_task' task.id %}" method="POST">
                        {% csrf_token %}
                        <input class="form-check-input me-3" type="checkbox" onclick="this.form.submit()">
                    </form>
                    <input class="form-check-input me-3" type="checkbox" value="">
                    <label class="form-check-label" style="width: 40%">{{ task.title }}</label>
                    <label class="form-check-label" style="width: 40%">{{ task.deadline }}</label>
                    <label class="form-check-label text-danger" style="width: 30%">
                        {% if task.remaining_days >= 0 %}
                            {{ task.remaining_days }} days left
                        {% else %}
                            Overdue
                        {% endif %}
                    </label>

                    <i class="bi bi-three-dots-vertical"></i>
                </li>
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-secondary text-center">
            <p>No tasks available.</p>
        </div>
        {% endif %}
    </ul>
</div>
